<div class="header">
    <h1>Cursos</h1>
    <p>Total de cursos: {{cursos.length}}</p>
</div>

<div class="cursos-div">

    <div class="cursos-ativos">
        
        @for (curso of cursos; track curso.id) {
            <div class="curso-card">
                
                <div class="infos">
                    <p class="nome">{{curso.nome}}</p>
                    <p class="carga">{{curso.carga}}H</p>
                </div>

                <div class="descricao">
                    <p class="info">{{curso.descricao}}</p>
                </div>

            </div>
        }

    </div>

    <div class="cadastrar-cursos">
        
    </div>

</div>
